
<div class="login-overlay">
   <h1 class="site-title">Cegat<span>IN</span></h1>

   <p class="site-des">
      Check dan Laport <span>CEGATAN</span> Ilegal.
   </p>

   <section id="form_login" layout="column" ng-controller="LoginFormController as vm" >
      <md-content layout-padding>
         <p class="login_text">Login</p>
      <form class="" action="" method="post" >
         <md-input-container>
            <label>Email</label>
            <input ng-model="vm.credentials.email">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input ng-model="vm.credentials.password" type="password">
         </md-input-container>
      </form>

      <div class="link">
         <md-button ng-click="vm.login(vm.credentials)" class="md-raised primary">Login</md-button>
      </div>

      </md-content>

   </section>

</div>
