<md-content layout="row" class="main-nav" ng-if="vm.authenticated">
<md-toolbar>
   <div class="md-toolbar-tools" layout="column" flex>

      <div class="site-title">
      <h1 class="site-title-dashbord">Cegat<span>IN</span></h1>
      </div>

   </div>
 </md-toolbar>

 <md-toolbar flex="22" >
    <div class="md-toolbar-tools" layout="column" flex layout-align="end end">

       <nav layout="row">
          
         <md-button class="toolbar-button" aria-label="Search">
            <i class="material-icons">search</i>
         </md-button>

         <md-button class="toolbar-button" aria-label="Notifications">
            <i class="material-icons">notifications</i>
            <span class="notifications-label">7</span>
         </md-button>

         <md-button class="toolbar-button" aria-label="Notifications">
            <i class="material-icons">mail_outline</i>
            <span class="notifications-label">7</span>
         </md-button>

         <md-menu >
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="Open Menu">
             <i class="material-icons">account_circle</i>
            </md-button>
             <md-menu-content>
               <md-menu-item><md-button ng-click="">Profile</md-button></md-menu-item>
               <md-menu-item><md-button ng-click="vm.logout()">Log out</md-button></md-menu-item>
             </md-menu-content>
          </md-menu>
          <md-button class="toolbar-button" aria-label="Notifications">
             <i class="material-icons">more_vert</i>
          </md-button>

       </nav>

    </div>
  </md-toolbar>
</md-content>
