$main_bg: #18335F;
$color_p: #2B7CFF;
$w: #FFFFFF;
$shadow: 0px 3px 3px #10264A;

// Main Content
// ======================================================================== /
#main-content{
   background-color: #F5F5F5;
}

// Main Sidebar
// ======================================================================== /
#main-sidebar{
   box-shadow: none;

   md-content{
      min-height: 100vh;
      background-color: $main_bg;

      .menu{

         li{
            position: relative;
            border-bottom: 1px solid rgba(40, 53, 147, 0.42) !important;

            &:nth-child(n)::before{
               font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                display: inline-block;
                width: 1em;
                height: 1em;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-feature-settings: 'liga';
                font-feature-settings: 'liga';
            }

            &:nth-child(1)::before{
               content: "\f367";
               position: absolute;
               left: 0;
               bottom: 0;
            }
         }

         .md-button{
            min-height: 55px;
            line-height: 55px;
            background-color: $main_bg;
            font-weight: 700;
            letter-spacing: 1px;
         }
      }

      .md-raised {
         // background-color: $main_bg !important;

         &:hover{
            background-color: #fff;
         }
      }
   }
}
