  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.credentials.email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="vm.credentials.password" type="password">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.login(vm.credentials)" class="md-raised">Login</md-button>
      <md-button ng-click="vm.cancel()" class="md-raised">Cancel</md-button>
    </md-dialog-actions>
  </form>
