// Variable
// ======================================================================== /
$main_bg: #18335F;
$color_p: #2B7CFF;
$w: #FFFFFF;
$shadow: 0px 3px 3px #10264A;

#main-content{
   font-size: 1.5rem;

   .md-toolbar-tools{
      background-color: $main_bg;
      color: #fff;
   }

   .dasbord_2{
      margin-top: 15px;

      md-toolbar{
         min-height: 50px;
      }

      .md-toolbar-tools{
         height: 50px;
         max-height: 50px;
      }

      .panel-widget{
         background-color: $w;
      }

      md-content{
         padding: 20px;

         &.dash-lap, &.dash-cegatan{
            font-size: 8rem;
            font-weight: 700;
            color: #444;

            span{
               font-family: $font_body;
               font-size: 3rem;
            }
         }
      }


   }
}

.panel-widget-tittle{

   .material-icons{
      margin-bottom: 5px;
   }
}

.blue {
	background: blue;
}

.red {
	background: red;
}

.leaflet-container {
   background-color: $w;
}

.add-peta{
   height: 40px;
   padding: 0 20px;
}
