// Variable
// ======================================================================== /
$main_bg: #18335F;
$color_p: #2B7CFF;
$w: #FFFFFF;
$shadow: 0px 3px 3px #10264A;

#main-content{

   .md-toolbar-tools{
      background-color: $main_bg;
      color: #fff;
   }
}

.blue {
	background: blue;
}

.red {
	background: red;
}
