<div flex class="fixed-height-widget" layout-padding>
  <section layout-margin class="md-whiteframe-z1 panel-widget">
    <md-toolbar class="md-hue-1 panel-widget-toolbar">
      <div class="md-toolbar-tools">
           <i class="material-icons">location_on</i>
        <h3 class="panel-widget-tittle">Tambah data cegatan</h3>
      </div>
    </md-toolbar>

    <md-content layout-padding layout="row" layout-sm="column">
      <div layout="row">
         <form name="raidForm">
           <div layout="column">

             <div layout layout-sm="row">
               <md-input-container flex>
                 <label>No. Surat</label>
                 <input ng-model="rac.newRaid.docNumber">
               </md-input-container>
               <md-datepicker ng-model="rac.newRaid.startDate" md-placeholder="Tanggal dari"></md-datepicker>
               <md-datepicker ng-model="rac.newRaid.endDate" md-placeholder="Tanggal hingga"></md-datepicker>
             </div>

             <md-input-container flex class="md-block">
               <label>Deskripsi</label>
               <textarea ng-model="rac.newRaid.description" columns="1" rows="2"></textarea>
             </md-input-container>

           </div>
         </form>
      </div>

    </md-content>

    <md-content layout="row" layout-sm="column">
         <md-button ng-click="rac.addRaids(rac.newRaid)" aria-label="Add" class="md-raised md-primary"> <i class="material-icons">search</i> Tambahkan</md-button>
    </md-content>

    <md-content layout="column">
      <leaflet lf-center="rac.center" markers="rac.markers" height="480px" width="100%"></leaflet>
    </md-content>

  </section>
</div>
